
html{
    background-color: rgb(43, 82, 44);;
      }
h1 {
    color: #661a1a;   
}
input, boton {
    margin: 5px 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: rgb(233, 23, 23);
}
button {
    padding: 5px 10px;
    cursor: pointer;
}
.container {
    width: 300px; 
    height: 500px; 
    background-color: rgb(223, 228, 195); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000; 
    border-color: #661a1a;
    font-family: Arial, sans-serif;
    text-align: center;
    align-content: center;
    overflow: auto;
  }
  .borrador {
    width: 0px; 
    height: 0px; 
    background-color: rgb(43, 82, 44);
    color: white;
    padding: 20px;
    margin-left:45% ;
    margin-top:730px;
    text-align: center;
}
